//input items
.input_bloc {
    padding: 0.2em;
    font-weight: 700;
}

.inputLabel {
    text-decoration: underline;
}

.inputbox {
    width: 60%;
    border-radius: 7px;
    border: 1px solid grey;
}

.errorMessage {
    color: red;
}

.userInputBlock {
    padding: 2.3em;
    margin: 3em;
    border: 1px solid red;
}

.info-container {
    text-align: center;
    padding: 1.2em;
}

.instruction-group {
    line-height: 1.5;
}

.main-instruction {
    color: #ad0a41;
    animation: blinker 0.61s linear infinite;
    font-weight: 900;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.noted-info {
    color: #0c1674;
}

.fileDetails {
    text-decoration: underline;
    font-family: catchyHeader;
}

.instructionHeader {
    text-decoration: underline;
    font-family: catchyHeader;
}

@mixin filedetailsinfoBlock {
    font-size: 1em;
    font-weight: 900;
}

.fileInfo {
    @include filedetailsinfoBlock;

}

.fileCompressedValue {
    @include filedetailsinfoBlock;
    color: #d1178a;
}


.fileNameValue {
    @include filedetailsinfoBlock;
    color: #250791;
}

.filesList{
    padding: 1em;
    margin: 3em;
    border: 2px solid darkcyan;
}

.uploadedFileValContainer{
    padding: 0.3em;
}

@mixin uploadedFileVal{
    font-weight: 900;
    font-size: 1.3em;
    
}
.uploadedFileValue{
   @include uploadedFileVal;
   color: darkgreen;
}

.uploadedFileOrder{
    @include uploadedFileVal;
    color: black;
}

$delethisfile: #f81706;

.deleteThisFileButton {
    margin-top: 0.4em;
    padding: 0.2em;
    border: 1px solid white;
    background-color: $delethisfile;
    color: white;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: lighten($delethisfile, 20%) !important;
        transition: all 0.3s ease-out;
    }
}


.file-detailsBlock {
    padding: 1em;
}

@mixin fileDetailInfo {
    font-size: 1em;
    animation: blinker 1.5s linear infinite;
}

.fileDetailInfo {
    @include fileDetailInfo;
    animation: blinker 1.5s linear infinite;
}

.fileDetailInfoMessage {
    @include fileDetailInfo;
    color: red;
}

$initiateSession: #b55cc7;

.validateUserName {
    margin-top: 0.4em;
    padding: 0.3em;
    border: 1px solid white;
    background-color: $initiateSession;
    color: black;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        color: lighten($initiateSession, 10%) !important;
        background-color: #2a105c;
        transition: all 0.3s ease-out;
    }
}


.compressedFileButtonBlock {
    text-align: center;
    padding: 1em;
}

$compressFileButton: #6d130d;

.compressFileButton {
    margin-top: 0.4em;
    padding: 0.9em;
    border: 1px solid white;
    background-color: $compressFileButton;
    color: white;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: lighten($compressFileButton, 40%) !important;
        transition: all 0.3s ease-out;
    }
}


.banner {
    background-color: black;
    text-align: center;
    border-bottom: 5px solid #4BA2E5;
}

.main_title {
    font-size: 5em;
    font-family: lemonJellyHeading;
}

.main-title-firstPart {
    color: #4BA2E5;
}

.main-title-secondPart {
    color: #d6e226;
}





.footer-Class {
    background-color: #E8491D;
    height: 45px;
}

.main-container {
    min-height: calc(100vh - 45px);
    background: url('./../assets/images/backgroundTexture.jpg');
}





//spinner

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.4s linear infinite;
    /* Safari */
    animation: spin 0.4s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.overlay {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 999;
}

.loading-spinnerPosition {
    width: 2em;
    height: 69%;
    margin: auto;
    position: absolute;
    left: 0 !important;
    bottom: 0;
    right: 0;
    top: 320px;
    z-index: 999;
}


//file drag and drop zone
.dragAndDropZone{
    padding: 4em;
}

.dropzone {
    height: 200px;    
    background-color: #eee;
    border: dashed 4px black;
    justify-content: center;
    align-items: center;
    display: flex;
}

input[type="file"] {
    display: none;
}





.textLink {
    background-color: #f45e61;
    color: #fff;
    padding: 0.4em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

