<section *ngIf="showGridSpinner">
  <div class="overlay"></div>
  <div class="loading-spinnerPosition">
    <div class="loader"></div>
  </div>
</section>

<!--banner-->
<div class="banner">
  <h1 class="main_title"><span class="main-title-firstPart">Rao's Node JS</span><span class="main-title-secondPart">
      File Zipper</span></h1>
</div>



<!--blog space-->
<div class="blog-container">


  <!--blog section-->
  <div class="main-container">

    <div class="info-container">
      <div>
        <h3>Upload Files and Compress them!!</h3>
      </div>
      <div>
        <h5>
          <h3 class="instructionHeader">Instructions!!</h3>
        </h5>
      </div>
      <div class="instruction-list">
        <h5 class="instruction-group">
          1.<span class="main-instruction">Please enter name and click validate Name button!</span>
          <br>
          2.Enter compressed file name to give the output of the file name
          <br>
          3.upload the files in upload section and click the compress files button!
          <br>
          Note: <span class="noted-info">The name should appear in file details section!! please click validate button
            after
            entering name!</span>
        </h5>
      </div>
    </div>

    <div class="userInputBlock">
      <form [formGroup]="userZipDetailsForm">
        <div class="input_bloc">
          <div>
            <span class="inputLabel">Enter your name!! </span>
          </div>
          <div>
            <input type="text" placeholder="Enter your name!" class="inputbox" formControlName="userPath" />
          </div>
          <div>
            <span class="errorMessage" *ngIf="inputboxValidation('userPath')">Please enter your name with minimum 5
              characters!! </span>
          </div>
          <div>
            <button class="validateUserName" (click)="validateName()">
              Validate Name!</button>
          </div>
        </div>

        <div class="input_bloc">
          <div>
            <span class="inputLabel"> Enter compressed file name! </span>
          </div>
          <div>
            <input type="text" placeholder="Enter file compressed name!" class="inputbox"
              formControlName="compressedFilename" />
          </div>
          <div>
            <span class="errorMessage" *ngIf="inputboxValidation('compressedFilename')">Please enter file compressed
              name!! </span>
          </div>
        </div>
      </form>
      <div class="file-detailsBlock">
        <div>
          <h5 class="fileDetails">File Details!!</h5>
        </div>
        <div>
          <div>
            <span class="fileInfo">Name : </span><span class="fileNameValue">{{userPathName || '- - -'}}</span>
          </div>
          <div>
            <span class="fileDetailInfo">Note : </span><span class="fileDetailInfoMessage">click on validate name button
              incase after entering name above!!</span>
          </div>
          <div>
            <div>
              <span class="fileInfo">compressedFileName : </span><span class="fileCompressedValue"
                *ngIf="userZipDetailsForm.value">{{userZipDetailsForm.value.compressedFilename || '- - -'}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="dragAndDropZone">
      <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileDragAndDrop($event)">        
            <input type="file" name="file" id="file" (change)="onFileSubmit($event)" multiple>
            <label for="file"><span class="textLink">Select your file</span> or Drop it here!</label>  
      </div>
    </div>

    
    <div class="filesList">
      <div class="fileListHeader">
        <h3 class="instructionHeader">Files Uploaded And Ready To Be Zipped!!</h3>
      </div>
      <div class="listContainer" *ngFor="let file of listFiles;let i = index">
        <div class="uploadedFileValContainer">
        <span class="uploadedFileOrder">{{i+1}}{{' . '}}</span><span class="uploadedFileValue">{{file}}</span>
        </div>
        <div>
          <button class="deleteThisFileButton" (click)="deleteAFile(file)" >
           Delete this file!</button>
        </div>
      </div>
    </div>

    <div class="compressedFileButtonBlock">
      <button class="compressFileButton" (click)="compressFiles()">
        Compress Above Files!</button>
    </div>


  </div>


</div>

<!-- Footer -->
<footer class="footer-Class">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Rao Awesome</p>
  </div>
</footer>